<html>
    <head>
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1>My great Gossip application !</h1>
        <h2>Hey hey welcome :-)</h2>
        <h3>If you have a new gossip, add it</h3>
        <a href="/gossips/new/">Add new gossip</a>
        <h4>Gossip list :</h4>
        <% gossips.each_with_index do |gossip, index| %>
            <p>
            <%= gossip.author %><br/>
            <%= gossip.content %><br/>
            <a href="/gossips/<%= index + 1 %>/">Show gossip</a>
            </p>
        <% end %>
    </body>
</html>