<html>
    <head>
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1>My great Gossip application !</h1>
        <h2>Hey hey welcome :-)</h2>
        <h3>If you have a new gossip, add it</h3>
        <a href="/gossips/new/">Add new gossip</a>
    </body>
</html>