<html>
  <head>
    <title>Create a gossip</title>
  </head>
  <body>
    <h1>Create a gossip !</h1>
    <p>Add new gossip using the form below</p>
    <form action='/gossips/new/' method='POST'>
      Enter your name :  <input type='text' name='gossip_author'/><br/>
      Enter your gossip : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>