<html>
    <head>
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1>Gossip number <%= params["id"] %></h1>
        <p>Author : <%= gossip[0] %></p>
        <p>Content : <%= gossip[1] %></p><br/>
        <a href="/">Return to the home page</a>
    </body>
</html>
